.button {
  padding: $indent-s;
  font-size: $text-size-m;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 18px;
  border-top-left-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 100px;
  transition: background-color 0.2s ease;

  &.primary {
    background-color: var(--buttonPrimaryBackgroundColor);
    color: var(--buttonPrimaryTextcolor);
    &:hover {
      background-color: var(--buttonPrimaryBackgroundColorHover);
    }
  }

  &.secondary {
    background-color: var(--buttonSecondaryBackgroundColor);
    color: var(--buttonSecondaryTextcolor);
    &:hover {
      background-color: var(--buttonSecondaryBackgroundColorHover);
    }
  }

  .iconWrapper {
    position: absolute;
    top: $indent-xs;
    right: $indent-xs;
    display: flex;

    .iconContainer {
      color: inherit;
    }

    svg {
      fill: currentColor;
    }
  }

  .textWrapper {
    align-self: flex-start;
  }
}
