:root {
  --primary: #4422ef;
  --secondary: #aef21e;

  --backgroundColor: #fff;

  --textColor: #303540;
  --linkColor: #4422ef;
  --iconColor: #303540;
  --buttonPrimaryBackgroundColor: #4422ef;
  --buttonPrimaryTextcolor: #fafafa;
  --buttonPrimaryBackgroundColorHover: #2c12b1;

  --buttonSecondaryBackgroundColor: #aef21e;
  --buttonSecondaryTextcolor: #0d0d0d;
  --buttonSecondaryBackgroundColorHover: #a2e318;

  // --buttonPrimaryBackgroundColor: #ffe500;
  // --buttonSecondaryColor: #ffffff;
  // --buttonSecondaryBackgroundColor: #9c32ce;
  --buttonTextColor: #0d0d0d;
  --borderColor: #e8e9ec;
  --borderVerticalSeperator: #626269;

  --inputBgColor: #e8e9ec;
  --inputLabelColor: #626269;
  --inputChartText: #626269;
  --inputBgHover: #f2f3f5;
  --inputBorderColor: #3f485a;

  --navLinkHoverColor: #0d0d0d;
  --navLinkHoverActiveColor: #ffffff;
  --navItemLinkColor: #3f485a;
  --navItemLinkActiveColor: #ffffff;
  --navItemLinkActiveColorBorder: #303540;
  --navItemLinkActiveColorBG: #303540;

  --sumColor: #090909;
  --sumColorSubtitle: #3f485a;
}

/* Dark Theme Overrides */
body.dark-theme {
  /* Dark Theme Variables */
  --backgroundColor: #070f18;

  --textColor: #fafafa;
  --linkColor: #ffe500;
  --iconColor: #fafafa;
  // --buttonPrimaryBackgroundColor: #ffe500;
  --buttonTextColor: #0d0d0d;

  --sumColor: #fafafa;
  --sumColorSubtitle: #c0c0c0;

  --navLinkHoverColor: #ffe500;
  --navLinkHoverActiveColor: #ffe500;
  --navItemLinkColor: #c9c9c9;
  --navItemLinkActiveColor: #ffe500;
  --navItemLinkActiveColorBorder: #ffe500;
  --navItemLinkActiveColorBG: var(--backgroundColor);
}
