$indent-xxxl: 72px;
$indent-xxl: 52px;
$indent-xl: 48px;
$indent-l: 36px;
$indent-m: 24px;
$indent-s: 16px;
$indent-xs: 12px;
$indent-2xs: 8px;
$indent-3xs: 4px;

$border-radius-l: 10px;
$border-radius-m: 8px;

$text-size-xs: 12px;
$text-size-s: 14px;
$text-size-m: 16px;
$text-size-l: 18px;
$text-size-xl: 20px;
