@use './fonts';
@use 'assets/variables/colors';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Golos', sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
textarea,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.link,
.active {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

svg {
  fill: var(--iconColor);
}

a {
  color: var(--linkColor);
}

button {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
